<!DOCTYPE html >
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text ="${titulo}"></h1>
    <ul>
        <li th:text = "${EmpleadoModel.getNombre}"></li>
    </ul>
    <h1>lista de empleados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empleado: ${Empleados}">
                <td th:text="${empleado.nombre}"></td>
                <td th:text="${empleado.apellido}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>